<style>
 .btn { background: none; border: none; text-align: center; font-size:
  1rem; color: whitesmoke; background-color: #fa709a; padding: 0.8rem 1.8rem;
  border-radius: 2rem; cursor: pointer; } 
  .card2 { width: 100%; min-height:
  250px; background: rgba( 255, 255, 255, 0.15 ); box-shadow: 0 8px 32px 0 rgba(
  31, 38, 135, 0.37 ); backdrop-filter: blur( 18px ); -webkit-backdrop-filter:
  blur( 18px ); border: 1px solid rgba( 255, 255, 255, 0.18 ); padding: 1.5rem; z-index: 10; color: whitesmoke; 
  border-radius: 1rem;}
</style>
<div style="margin: 120px;" class="container">
  <div class="card2">
    <header>
      <h1>Acerca de Nosotros: </h1>
      <h2>¿Quiénes Somos?</h2>
      <p>En el núcleo de "Familias Energéticas" reside en un grupo apasionado por la visión de fomentar un cambio hacia la sostenibilidad a través de la educación en energías renovables. Somos más que una iniciativa; somos un colectivo comprometido con la misión de empoderar a las familias proporcionándoles conocimientos esenciales sobre energía fotovoltaica y fuentes de energía sostenibles.
        Nuestra idea surge a partir de la transición hacia una vida más sostenible, en donde para ello, se comienza con el acceso a la información correcta. En esencia, somos una página dedicada a brindar información educativa de calidad sobre el sector de las energías renovables, con un enfoque particular en la energía fotovoltaica.
      </p>
    </header>

    <section id="que-son-los-paneles">
      <h2>Misión:</h2>
      <p>Nos impulsa la misión de brindar a las familias herramientas valiosas para acceder y beneficiarse de fuentes de energía sostenibles. Creemos que, al proporcionar información completa y comprensible, podemos catalizar el cambio hacia un futuro más verde y consciente.</p>
    </section>

    <section id="que-son-los-paneles">
      <h2>Enfoque Educativo:</h2>
      <p>En nuestra plataforma, nos dedicamos a ser más que un repositorio de datos; queremos ser un guía informacional que desmitifica el mundo de las energías fotovoltaicas. Ofrecemos información educativa y meramente informativa sobre el sector de las energías renovables, arrojando luz sobre cómo las familias pueden integrar la energía solar en sus vidas de manera práctica y beneficiosa.</p>
    </section>

    <section id="que-son-los-paneles">
      <h2>Conexión Personalizada:</h2>
      <p>Entendemos que cada familia es única, y es por eso que hemos implementado una encuesta para conocerte mejor. Esta herramienta nos permite adaptar la información a tus necesidades específicas y, si lo deseas, establecer un contacto más personalizado. Nos esforzamos por ir más allá de la educación estándar, brindándote la posibilidad de obtener información adicional de manera directa y personal.</p>
    </section>

    <section id="que-son-los-paneles">
      <h2>Objetivo Principal:</h2>
      <p>Nuestro objetivo principal es ser un recurso de confianza que facilite el acceso de las familias a la información pertinente sobre energías fotovoltaicas. Desde consejos prácticos hasta datos técnicos, estamos aquí para guiarte en cada paso hacia la adopción de una forma de energía más sostenible.</p>
    </section>

    <section id="que-son-los-paneles">
      <h3>Únete a nosotros en "Familias Energéticas" mientras trabajamos juntos para construir un futuro más limpio y sostenible, uno donde cada familia pueda beneficiarse plenamente de la energía fotovoltaica.</h3>
    </section>
  </div>
</div>