<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/logo.jpg">
  <link rel="icon" type="image/png" href="/assets/img/sol.jpg">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>
    FAMILIAS ENERGETICAS
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link id="pagestyle" href="/assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
</head>

<body class="g-sidenav-show fondo">
  <div class="min-height-300  position-absolute ">
    <main class="main-content position-relative">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/"><img class="logo" src="/assets/img/Beige_and_Black_Minimalist_Skincare_Logo-removebg-preview.png" alt=""></a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/dever">Mas informacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/encuesta">Formulario</a>
          </li>
          <li  class="nav-item">
            <a class="nav-link" href="/about">Acerca de nosotros</a>
          </li>
        </ul>
      </nav>
    {{> messages }}
    {{> errors }}
    {{{ body }}}
    <div style="background-color: aquamarine;">
    <footer class="footer pt-3  ">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted text-lg-start">
              ©
              <script>
                document.write(new Date().getFullYear())
              </script>,
              Realizado por <i class="fa fa-envira"></i>
              <a href="" class="font-weight-bold" target="_blank">FAMILIAS ENERGETICAS</a>
            </div>
          </div>
        </div>
      </div>
    </footer></div>
  </main>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
